body {
	background-color: var(--cream);
	display: grid;
	min-height: 100vh;
	padding: var(--lg-spacing) var(--md-spacing);
	place-items: center;
}

.product-card {
	background-color: var(--white);
	border-radius: var(--md-border-radius);
	display: flex;
	flex-direction: column;
	max-width: 343px;
}

.mobile-product-img {
	border-radius: var(--md-border-radius) var(--md-border-radius) 0 0;
	width: 100%;
}

.desktop-product-img {
	display: none;
	border-radius: var(--md-border-radius) 0 0 var(--md-border-radius);
	width: 343px;
}

.card-content-box {
	padding: calc(var(--md-spacing) * 1.4);
}

.card-title {
	color: var(--dark-grayish-blue);
	font: 500 var(--paragraph-font-size) var(--montserrat-font-family);
	margin-bottom: var(--md-spacing);
}

.product-name {
	font: 700 var(--title-font-size) var(--fraunces-font-family);
	line-height: 1;
	margin-bottom: var(--md-spacing);
}

.card-content {
	font: 500 var(--paragraph-font-size) var(--montserrat-font-family);
	line-height: 1.5;
	margin-bottom: calc(var(--md-spacing) * 1.5);
	color: var(--dark-grayish-blue);
}

.card-price-box {
	align-items: center;
	display: flex;
	gap: var(--md-spacing);
	margin-bottom: var(--md-spacing);
}

.product-price {
	color: var(--dark-cyan);
	font: 700 var(--price-font-size) var(--fraunces-font-family);
}

.previous-product-price {
	color: var(--dark-grayish-blue);
	font: 500 var(--paragraph-font-size) var(--montserrat-font-family);
	text-decoration: line-through;
}

.card-btn {
	align-items: center;
	background-color: var(--dark-cyan);
	border: none;
	border-radius: 8px;
	color: var(--white);
	cursor: pointer;
	display: flex;
	font: 500 var(--paragraph-font-size) var(--montserrat-font-family);
	gap: 8px;
	height: 46px;
	justify-content: center;
	outline: none;
	width: 100%;
}

.card-btn:hover,
.card-btn:focus {
	background-color: var(--very-dark-blue);
}

@media (min-width: 768px) {
	.card-title,
	.product-name,
	.card-content,
	.card-price-box {
		margin-bottom: calc(var(--md-spacing) * 2);
	}

	.product-name,
	.product-price {
		font-size: calc(var(--title-font-size) * 1.19);
	}

	.product-card {
		flex-direction: row;
		max-width: 686px;
	}

	.card-content-box {
		padding: calc(var(--md-spacing) * 2.4);
		width: 100%;
	}

	.mobile-product-img {
		display: none;
	}

	.desktop-product-img {
		display: block;
	}
}
